.itemContainer {
    max-width: 650pt;
    flex-direction: row;
}
.itemImage {
    min-width: 160pt;
    max-width: 160pt;
}

@media (max-width: 500pt) {
    .itemContainer {
        flex-direction: column;
    }
    .itemImage {
        min-width: 230pt;
        max-width: 230pt;
    }
}

.avatar {
    width: 40px;
    height: 40px;
}

.author {
    padding-right: 4pt;
}
