.item {
    max-width: 650pt;
}

.image {
    max-width: 125pt;
}
.content {
    flex-direction: row;
}
@media (max-width: 450pt) {
    .image {
        max-width: 100% !important;
    }
    .content {
        flex-direction: column;
    }
}

.avatar {
    width: 40px;
    height: 40px;
}

.author {
    padding-right: 4pt;
}
